body
{
    width:100%;
    height:200vh;
    background-image: linear-gradient(to bottom right, #f0f0f0,#919191,#3f3f3f);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}